<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFUGVZQcUs1nmnjWkcYCLwER3apUxMzzE</string>
	<key>GCM_SENDER_ID</key>
	<string>383406049943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pramana.pramanaQrVerifier</string>
	<key>PROJECT_ID</key>
	<string>pramana-qrverifier</string>
	<key>STORAGE_BUCKET</key>
	<string>pramana-qrverifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383406049943:ios:777fcc92e3a84b8d68f7d2</string>
	<key>DATABASE_URL</key>
	<string>https://pramana-qrverifier-default-rtdb.firebaseio.com</string>
</dict>
</plist>